<nav class="dashboard">
  <%= link_to raw("<i class='fas fa-crown'></i>"), dashboard_path %>
  <%= link_to "Episodes", dashboard_episodes_path %>
  <%= link_to "Hosts", dashboard_hosts_path %>
  <%= link_to "Guests", dashboard_guests_path %>
</nav>
