<section class="content" page="new_host">
  <h1>Create New Host</h1>
  <%= render 'form', host: @host, method: :post %>
  <%= link_to 'Back', dashboard_hosts_path, class: "back button centered"  %>
</section>
