<div id="top-left-nav">
  <ul class="horizontal menu">
    <% unless current_page?(root_path) %><li><a href="<%= root_path %>" id="left-root-button"><i class="fas fa-chevron-left"></i></a></li><% end %><% if admin_signed_in? %><li><%= link_to raw('<i class="fas fa-times"></i>'), destroy_admin_session_path, id: 'left-sign-out-button', method: :delete %></li><li><%= link_to raw('<i class="fas fa-crown"></i>'), dashboard_episodes_path, id: 'left-admin-link', class: current_route_contains?('dashboard') ? "highlighted" : "" %></li>
    <% end %>
  </ul>
</div>
