<section class="content">
  <h1>Episodes</h1>
  <ul class="controller">
    <li class="controller-info-left"><i class="fas fa-arrow-left"></i> &nbsp; A</li>
    <li data-setting="drop-down"><i class="fas fa-circle"></i></li>
    <li data-setting="spin"><i class="far fa-circle"></i></li>
    <li class="controller-info-right">D &nbsp; <i class="fas fa-arrow-right"></i></li>
  </ul>
</section>

<%= render partial: 'partials/episodes_3d', locals: { episodes: @episodes } %>
